<div class="main">
    <div class="table-container">
        <table class="product-table">
            <tr class="table-heading">
                <th></th>
                <th>PRODUCTS</th>
                <th>PRICE</th>
                <th class="w3-right-align">QUANTITY</th>
                <th class="w3-right-align">TOTAL</th>
            </tr>

            <tr class="table-data" *ngFor="let item of items; let i = index" >
                <td><button class="delete-button" (click)="onDeleteItem(item, i)">x</button></td>

                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>
                    <button class="remove-button" (click)="onItemQuantityRemove(item)"
                        [disabled]="item.quantity == 1">-</button>
                    {{item.quantity}}
                    <button class="add-button" [disabled]="item.quantity == 0"
                        (click)="onItemQuantityAdd(item)">+</button>
                </td>
                <td class="w3-right-align">{{calculateItemPrice(item)}}</td>

            </tr>

            <tr *ngIf="items?.length == 0" class="not-found">

                <td colspan="5">
                    There are no products

                </td>

            </tr>

        </table>

    </div>

</div>

<div class="table2">
    <table >
        <tr>
          <th>Sub Total</th>
          <td>{{subTotal}}</td> 
          <td>{{totalItem}} items</td> 
        </tr>
        <tr>
          <th>VAT Tax</th>
          <td>10%</td>
          <td>{{vat | currency}}</td>
        </tr>
        <tr>
          <th>Discount</th>
          <td>10%</td>
          <td>{{discount | currency}}</td>
        </tr>
        <tr>
          <th>Total</th>
          <td colspan="2" style="text-align: left; padding-left: 35px;">{{total}}</td>
        </tr>
        
      </table>
      <div class="button-sale">
      <button class="button1" (click)="onCancel()">Cancel Sale</button>
      <button class="button2" (click)="onDialoge()">Process sale</button>
    </div>
    </div>
    